.container {
  display: block;
  background-image: url(../public/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  justify-content: center;
  
}

.container>.upper {
  height: 100px;



}

.container>.content {
  background-color:rgba(155, 212, 212,0.8);
  width: auto;
  margin: auto;
  border-radius: 20px;
  height: auto;

}

.down {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
  

}

.down>table {
  border: 2px solid rgb(0, 0, 0);
  width: 100vh;
  text-align: center;
  font-size: 20px;
  height: 600px;
  background-color: #D9D9D9;
  /* align-items: center; */

}

.down>table>tr>td>img {
  width: 29px;
  transition: transform .2s;
  
}.down>table>tr>td>img:hover {
  transform: scale(6);
  /* width: 50px; */
  border-radius: 10px;
  
}

.down>table>tr>td>button {
  background-color: #D80A0A;
  color: white;
  border-radius: 10px;
  border-style: none;
  padding: 10px 0;
  width: 60px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s;
}
.down>table>tr>td>button:hover {
  transform: scale(1.5);

}

@media (max-width: 1000px) {
  .down>table {
   
    font-size: 15px;
    height: auto;
    width: 600px;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;

  
  }
  .down>table>tr>td>button {
    background-color: #D80A0A;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 8px 0;
    width: 50px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s;
  }

  

}