.container {
    display: block;
    background-image: url(../public/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
    justify-content: center;
    /* margin-top: 15vh; */
  }
  
.container>.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}
.container>.row1>h1{
   font-size: 48px;
   font-weight: bold;
}
.container>.row1>h2{
    font-size: 48px;
    font-weight: bold;
    color: red;
 }

 .container>.row2{
    display: flex;
    /* background-color: #9BD4D4; */
    background-color:rgba(155, 212, 212,0.7);
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    /* opacity: 50%; */
    border-radius: 20px;
    padding: 50px;
    height: 312px;
 }

 .container>.row2>.left{
    width: 100%;

 }
 .container>.row2>.left>p{
    font-size: 24px;
    font-weight: bold;
    line-height: 0.1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
 }
 .container>.row2>.right{
    width: 100%;
    opacity: 100%;
 }
 .container>.row2>.right>img{
    width: 312px;
   
 }

 .bot {
 
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: auto;
}
.bot > .left {
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  padding: 50px;
  margin-right: 20px;
  /* width: 700px;
  height: 400px; */
  /* width: auto;
  height: auto; */
  /* width: 100%; */
  width: 586px;
  margin-left: 10%;
  margin-right: 5%;
  /* height: auto; */
  height: 415px;
  margin-bottom: 10vh;
  border-color: gray;
 
  
}
.bot > .left > .img1 > img {
  /* width: 350px; */
  width: 368px;
  height: 223px;
  border-radius: 15px;
}
.bot > .left > .img1 > h2 {
  margin-top: -30px;
}
.bot > .left > .img1 > p {
   font-size: 16px;
   color: #221892;
   font-weight: bold;
 }

.bot > .right {
  display: flex;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  margin-top: 20px;
  padding-top: 50px;
  /* width: 700px;
  height: 400px; */
  margin-right: 20px;
  justify-content: center;
  /* width: auto;
  height: auto; */
  /* width: 100%; */
  width: 567px;
  margin-right: 10%;
  margin-left: 5%;
  /* height: auto; */
  height: 415px;
  margin-bottom: 10vh;
  
}
.bot > .right > .img1 > .outer {
  display: flex;
}

.bot > .right > .img1 > .outer > .insideleft > img {
  /* width: 250px; */
  margin: 40px;
  width: 212px;
  height: 141px;
  border-radius: 15px;
}
.bot > .right > .img1 > .outer > .insideleft > p {
  text-align: center;
  margin-top: -30px;
  font-weight: bold;
  font-size: 16px;
}
.bot > .right > .img1 > .outer > .insideright > img {
  /* width: 250px; */
  margin: 40px;
  width: 212px;
  height: 141px;
  border-radius: 15px;
}
.bot > .right > .img1 > .outer > .insideright > p {
  text-align: center;
  margin-top: -30px;
  font-weight: bold;
  font-size: 16px;
}
.bot > .right > .img1 > h2 {
  margin-top: -30px;
}


@media (max-width: 1000px) {
  .bot {
 
    display: block;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
    margin: auto;
  
  }

  .bot > .left {
    border-style: solid;
    width: 300px;
   
    /* height: auto; */
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  .bot > .right {
    border-style: solid;
    width: 300px;
    

    /* height: auto; */
    height: 300px;
    margin: 10px auto;
  }
  .bot > .right > .img1 > .outer > .insideright > img { 
    /* width: 350px; */
    width: 150px;
    height: 90px;
    border-radius: 15px;
    margin: 48px 0;
  }
  .bot > .right > .img1 > .outer > .insideleft > img { 
    /* width: 350px; */
    width: 150px;
    height: 90px;
    border-radius: 15px;
    margin: 48px 0;
    
  }
  .bot > .right > .img1 > .outer {
    
  }

  .bot > .left > .img1 > img {
    /* width: 350px; */
    width: 200px;
    height: 150px;
  
    border-radius: 15px;
  }
  .container>.row2>.left>p{
    font-size: 15px;
    font-weight: bold;
    line-height: 0.1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }
 .container>.row2>.right>img{
  width: 200px;
 
}
.container>.row1>h1{
  font-size: 30px;
}
.container>.row1>h2{
   font-size: 30px;
}
.container {
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0;
  
}


}
@media (max-width: 500px) {
  .container>.row2>.left>p{
    font-size: 10px;
    font-weight: bold;
    line-height: 0.1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .container>.row2>.right>img{
  width: 150px;
 
}
 
}